{% extends "base.html.twig" %}
{% block title %}SymRecipe - accueil {% endblock %}
{% block body %}
<div class="container">
<div class="jumbotron">
  <h1 class="display-4">Bienvenue sur SymRecipe</h1>
  <p class="lead">Bienvenue sur notre application innovante de création de recettes ! Transformez votre cuisine en un espace de créativité culinaire en utilisant les ingrédients que vous avez déjà chez vous. Entrez simplement les ingrédients disponibles, et notre application vous proposera une variété de recettes délicieuses et faciles à réaliser. Plus besoin de chercher longtemps ou de se demander quoi cuisiner – laissez notre application vous inspirer et simplifier vos repas au quotidien. Bon appétit !





</p>
  <hr class="my-4">
  <p>Pour commencer, rendez-vous sur la page d'inscription pour utiliser notre application</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
</div>
</div>
{%endblock %}
